extends html, javascript, css, typescript

snippet vue "vue component with script setup and typescript support"
	<template>

	</template>

	<script lang="ts" setup>
		${0}
	</script>

	<style>

	</style>


snippet onm "add onMounted hook"
	onMounted(() => {
		${0}
	})
