layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
    }
    tab name="nvim" {
        pane command="nvim" size="80%"
        pane command="opencode" size="20%"
    }
    tab name="run" {
        pane
    }
    tab name="lazy" {
        pane command="lazygit"
    }
}
