layout {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
    pane
    pane size=2 split_direction="vertical" {
        pane borderless=true {
            plugin location="status-bar"
        }
        pane borderless=true {
            plugin location="file:/Users/christian/dotfiles/zellij/plugins/zellij-datetime.wasm" {
                timezone1 "CDT/-5"
                default_timezone "CDT/-5"
                background_color "#48567f"
                foreground_color "#cdd6f4"
                pane_color "#181825"
                enable_right_click false
                arrow_separator1 ""
                arrow_separator2 ""
                arrow_separator3 ""
                padding_adjust 0
                text_align "right"
            }
        }
    }
}
